@model ICollection<Emprestimo>
@{
    ViewData["Title"] = "Listagem de Empréstimos";
}
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
        footer{
            margin-top: 100px;
        }
    </style>
</head>
<div class="row">
    <div class="col-md-12">
    <form class="form-inline" method="POST">
        <div class="form-group mb-2">
            <select name="TipoFiltro" class="form-control">
                <option value="Usuario">Usuário</option>
                <option value="Livro">Livro</option>
            </select>
        </div>
        <div class="form-group mb-2 mx-sm-3">
            <input type="text" placeholder="Filtro" name="Filtro" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary mb-2">Pesquisar</button>
    </form>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead class="thead-dark">
                <tr><th scope="col">Id</th>
                <th scope="col">Usuario</th>
                <th scope="col">Data Empréstimo</th>
                <th scope="col">Data Devolução</th>
                <th scope="col">Livro</th>
                <th scope="col">Autor</th>
                <th scope="col">Devolvido</th>
                <th scope="col">Atrasado</th>
                <th scope="row"></th>
                </tr>
            </thead>
            <tbody>
                @foreach(Emprestimo e in Model)
                {
                <tr>
                    <td>@e.Id</td>
                    <td>@e.NomeUsuario</td>
                    <td>@e.DataEmprestimo.ToString("dd/MM/yyyy")</td>
                    <td>@e.DataDevolucao.ToString("dd/MM/yyyy")</td>
                    <td>@e.Livro.Titulo</td>
                    <td>@e.Livro.Autor</td>
                    <td>@e.Devolvido</td>
                    <td>@e.Atrasado</td>
                    <td><a href="/Emprestimo/Edicao/@e.Id">Editar</a></td>
                </tr>
                }
            </tbody>
        </table>
        <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Próximo</a></li>
  </ul>
    </div>
</div>
<footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</footer>

